.content-circle {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  align-items: center;
  /* margin: 20px auto;
  width: 90%;
  max-width: 800px; */
  
}

.square {
  width: 48%;
  height: 150px;
  background-color: #ff6347;
  /* margin: 0 15px; */
}

/* ch\nged margin from 10px to 15px ...*/

.circle {
  width: 150px;
  height: 150px;
  background-color: #4682b4;
  border-radius: 50%;
  margin: 0 10px;
}

/* added @media */

@media (max-width: 600px) {
  .content-circle {
    flex-direction: column;
  }

  .square, .circle {
    width: 100%;
    margin: 10px 0;
  }
}
