.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 100%;
  /* max-width: 3000px; */
  padding: 15px;
}

.block-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.block {
  width: 48%;
  height: 200px;
  background-color: #ff6347;
  /* margin: 20px;  */
}

.rectangle {
  width: 100%;
  height: 200px;
  background-color: #4682b4;
}

/* added @media property  */

@media (max-width: 600px) {
  .block-container {
    flex-direction: column;
  }

  .block {
    width: 100%;
    margin-bottom: 10px;
  }
}
