.hero-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding-top: 10px; */
  margin:45px;         
}

.hero {
  background-color: #61dafb;
  padding: 50px;
  color: #fff;
  text-align: center;
  height: 250px;
  /* width: 90%; */
  /* max-width: 800px;
  margin: auto; */
}

.hero h1 {
  margin: 0;
  font-size: 3em;
}

/* added @media */

@media (max-width: 600px) {
  .hero {
    padding: 20px;
  }

  .hero h1 {
    font-size: 2em;
  }
}



  /* min-height: calc(100vh - 100px - 100px); THIS IS NOT WORKING AS I WANT SO IM LEZVING IT OUT  */ 